body {
  background: #222222;
}
svg {
}

.axis {
  font-size: 12px;
}

.axis :global path,
.axis :global line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis :global text {
  fill: #000;
}
.axis :global path,
.axis :global .tick line {
  /*display: none;*/
}
.grid :global .tick line {
  stroke: #ababab;
  stroke-width: 1;
}
.areaOnMask {
  fill: white;
  opacity: 0.5;
  stroke: none;
}
.lineOnMask {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  opacity: 1;
}
.areaGradTop {
  stop-color: #F96816;
  stop-opacity: 1;
}
.areaGradBottom {
  stop-color: #F96816;
  stop-opacity: 0.8;
}
.point {
  stroke: orange;
  stroke-width: 2px;
  fill: blue;
}
